In [2]:
import pandas as pd

In [3]:
year=2023
ENA_df = pd.read_csv(
        "https://ons-dl-prod-opendata.s3.amazonaws.com/dataset/ena_subsistema_di/ENA_DIARIO_SUBSISTEMA_" + str(
            year) + ".csv", sep=";")
#ENA_df_sub = feature_by_sub(ENA_df.drop(columns=['nom_subsistema']), 'id_subsistema', 'ena_data')
print(ENA_df)

    id_subsistema nom_subsistema    ena_data  ena_bruta_regiao_mwmed  \
0               N          NORTE  2023-01-01            17715.675781
1              NE       NORDESTE  2023-01-01            12355.788086
2               S            SUL  2023-01-01             6388.172852
3              SE        SUDESTE  2023-01-01            57324.421875
4               N          NORTE  2023-01-02            18558.996094
..            ...            ...         ...                     ...
751            SE        SUDESTE  2023-07-07            22927.787109
752             N          NORTE  2023-07-08             4711.291016
753            NE       NORDESTE  2023-07-08             2093.238037
754             S            SUL  2023-07-08             8324.657227
755            SE        SUDESTE  2023-07-08            22737.257812

     ena_bruta_regiao_percentualmlt  ena_armazenavel_regiao_mwmed  \
0                        114.157402                  16312.749023
1                         91.997902                  12147.722656
2                         84.056602                   6047.412109
3                         87.380302                  53329.945312
4                        119.591698                  17971.695312
..                              ...                           ...
751                       89.405403                  22800.005859
752                       89.554802                   4443.622070
753                       55.449600                   2081.798096
754                       76.136498                   7663.879883
755                       88.662498                  22600.488281

     ena_armazenavel_regiao_percentualmlt
0                              105.117104
1                               90.448799
2                               79.572899
3                               81.291397
4                              115.807198
..                                    ...
751                             88.907097
752                             84.466797
753                             55.146599
754                             70.093102
755                             88.129097

[756 rows x 7 columns]

In [5]:
year=2023
vert_df = pd.read_csv(
        "https://ons-dl-prod-opendata.s3.amazonaws.com/dataset/energia_vertida_turbinavel_ho/ENERGIA_VERTIDA_TURBINAVEL_" + str(
            year) + ".csv", sep=";")
#ENA_df_sub = feature_by_sub(ENA_df.drop(columns=['nom_subsistema']), 'id_subsistema', 'ena_data')
print(vert_df.head())

  id_subsistema nom_subsistema nom_bacia nom_rio   nom_agente  \
0             N          NORTE  AMAZONAS  UATUMA  ELETRONORTE
1             N          NORTE  AMAZONAS  UATUMA  ELETRONORTE
2             N          NORTE  AMAZONAS  UATUMA  ELETRONORTE
3             N          NORTE  AMAZONAS  UATUMA  ELETRONORTE
4             N          NORTE  AMAZONAS  UATUMA  ELETRONORTE

  nom_reservatorio  cod_usina         din_instante  val_geracao  \
0          BALBINA      277.0  2023-01-01 00:00:00      103.261
1          BALBINA      277.0  2023-01-01 01:00:00      102.334
2          BALBINA      277.0  2023-01-01 02:00:00      103.473
3          BALBINA      277.0  2023-01-01 03:00:00      102.531
4          BALBINA      277.0  2023-01-01 04:00:00      101.440

   val_disponibilidade  val_vazaoturbinada  val_vazaovertida  \
0                250.0               600.0               0.0
1                250.0               600.0               0.0
2                250.0               600.0               0.0
3                250.0               600.0               0.0
4                250.0               600.0               0.0

   val_vazaovertidanaoturbinavel  val_produtividade  val_folgadegeracao  \
0                            0.0           0.172102             146.739
1                            0.0           0.170557             147.666
2                            0.0           0.172455             146.527
3                            0.0           0.170885             147.469
4                            0.0           0.169067             148.560

   val_energiavertida  val_vazaovertidaturbinavel  \
0                 0.0                         0.0
1                 0.0                         0.0
2                 0.0                         0.0
3                 0.0                         0.0
4                 0.0                         0.0

   val_energiavertidaturbinavel
0                           0.0
1                           0.0
2                           0.0
3                           0.0
4                           0.0

In [9]:
#print(vert_df.head())
print(vert_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 674146 entries, 0 to 674145
Data columns (total 18 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   id_subsistema                  674146 non-null  object
 1   nom_subsistema                 674146 non-null  object
 2   nom_bacia                      674146 non-null  object
 3   nom_rio                        674146 non-null  object
 4   nom_agente                     674146 non-null  object
 5   nom_reservatorio               674146 non-null  object
 6   cod_usina                      669658 non-null  float64
 7   din_instante                   674146 non-null  object
 8   val_geracao                    674146 non-null  float64
 9   val_disponibilidade            674146 non-null  float64
 10  val_vazaoturbinada             674146 non-null  float64
 11  val_vazaovertida               674146 non-null  float64
 12  val_vazaovertidanaoturbinavel  674146 non-null  float64
 13  val_produtividade              674146 non-null  float64
 14  val_folgadegeracao             674146 non-null  float64
 15  val_energiavertida             674146 non-null  float64
 16  val_vazaovertidaturbinavel     674146 non-null  float64
 17  val_energiavertidaturbinavel   674146 non-null  float64
dtypes: float64(11), object(7)
memory usage: 92.6+ MB
None